<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This site is inspired by Michael Hartl's <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> - a fantastic site for anyone interested in learning Rails development.
</p>
<p>
  This version of the site is hosted on <a href="https://heroku.com">heroku.com</a>, uses <a href="https://github.com/carrierwaveuploader/carrierwave">CarrierWave</a> 
  for image uploads, and <a href="https://sendgrid.com/">SendGrid</a> for email services to users.
</p>