<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  If you would like to learn more about this site, feel free to reach out to me directly at <a href="mailto:tayloraliss@gmail.com">tayloraliss@gmail.com</a>.
</p>