<footer class="footer">
  <small>
    © Copyright 2021 Taylor A. Liss
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.tayloraliss.com/blog/">News</a></li>
    </ul>
  </nav>
</footer>